<h1>New User</h1>

<%= form_with(model: @user, url: long_and_not_moves_path) do |form| %>
  <div id="error"></div>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div style="height: 2000px"></div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', users_path %>
